<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head><body bgcolor="darkcyan">
  <br><center><h3>JOURNAL</h3> </center><br>
  
  <!-- Ecrivez ci-dessous le code HTML du formulaire -->
  
  <div class="test">
  </div><table align="center" style="
    background-color: silver;
">
  
  <!-- Ligne 1 --------------------------------------->
  <tbody><tr style="
    background-color: silver;
">
    <td> <input type="text" size="10"> </td>
    <td> <input type="text" size="10"> </td>
    <td align="center" width="20" colspan="3"> <input type="text" size="10">
    </td><td> <input type="text" size="10"> </td>
    <td> <input type="text" size="10"> </td>
    <td align="center" width="20" colspan="3"> <input type="text" size="10">
    </td><td> <input type="text" size="10"> </td>
<td> 
      <select>
        <option> aucune </option>
        <option> 02 </option>
        <option> 03 </option>
        <option> 04 </option>
      </select>
     </td>
<td> <input type="text" size="10"> </td>
     <td> <input type="text" size="10"> </td>
     <td> <input type="text" size="10"> </td>
    
    <td colspan="5" align="center"> <input type="submit" value="Valider"> </td>

  
  </tr> 
  
  <!--- Ligne 2 ---------------------------------------->
    <tr style="bgcolor=;/* background-color: transparent; */color: #ffffff;background: #324960;/* color: white; */">
    <td> Jour </td>
    <td> N° Piece </td>
    <td align="center" width="20" colspan="3"> Référence Piece</td>
   <td> N°Compte Generale </td>
    <td> Compte Auxiliaire </td>
    <td align="center" width="20" colspan="3"> Libéllé écriture</td>
   
    <td> Echéance</td>
   <td> Devise </td>
    <td> Taux </td>
    <td> Débits </td>
   <td> Crédits </td>
   
  </tr> 
  
  
  
  <tr style="
    background-color: white;
">
    <td> Jour </td>
    <td> N° Piece </td>
    <td colspan="3" width="20" align="center"> Référence Piece</td>
   <td> N°Compte Generale </td>
    <td> Compte Auxiliaire </td>
    <td colspan="3" width="20" align="center"> Libéllé écriture</td>
   
    <td> Echéance</td>
   <td> Devise </td>
    <td> Taux </td>
    <td> Débits </td>
   <td> Crédits </td>
   
  </tr>

</tbody></table>
  
  
  



</body></html>
